
<div class="container mt-4">
<h3>List of Users</h3>
  <table border="1" cellpadding="10">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Created At</th>
        <p><th>Updated At</th></p>
        <th>Approved?</th>
        <th>Approve</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
          <td><%= user.updated_at %></td>
          <td><%= user.approved %></td>
          <td><button type="button" class="btn btn-primary"><%= link_to user.approved ? "Approve" : "Unapprove", update_approved_user_path(user.id) %>
          </button>
          
        </tr>
      <% end %>
    </tbody>
    </div>