<div style="color:black;">
<h1>Sign Up Page - New User</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :first_name, required: true%>
  <%= f.input :last_name, required: true%>
  <%= f.label :email %>
  <%= f.email_field :email, required: true%>
  <%= f.label :password %>
  <%= f.password_field :password, required: true%>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, required: true%>
  <%= f.submit "Sign in"%>
<% end %>



