<%= form_for @drill do |f| %>
    <% if @drill.errors.present? %>
        <p>
            <%= @drill.errors.full_messages.join(', ') %>
        </p>
    <% end %>

    

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
    <%= f.fields_for :questions do |question_field|%>
      <%= question_field.label :questions %>
      <%= question_field.text_field '' %>
      
      <%= question_field.label :questions %>
      <%= question_field.text_field '' %>
    <% end %>
  <%= f.submit %>
<% end %>