
<%= form_for @drill do |f| %>
    <% if @drill.errors.present? %>
        <p>
            <%= @drill.errors.full_messages.join(', ') %>
        </p>
    <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <div>
      <%= f.label :questions %>
      <%= f.text_field :questions %>

      <%= f.label :questions %>
      <%= f.text_field :questions %>
    </div>
    <div>
      <%= f.label :answers %>
      <br>
      <%= f.text_field :answers, multiple: true %>
       <%= f.label :answers %>
      <%= f.text_field :answers, multiple: true %>
       <%= f.label :answers %>
      <%= f.text_field :answers, multiple: true %>
    </div>
    </div>
  </div>
  <%= f.submit %>
<% end %>