<<<<<<< HEAD
<%= stylesheet_link_tag '_form' %>
=======

>>>>>>> bf51b4800c40106d0a16c65ce92ca3640fcb88e5
<%= form_for @drill do |f| %>
    <% if @drill.errors.present? %>
        <p>
            <%= @drill.errors.full_messages.join(', ') %>
        </p>
    <% end %>

<<<<<<< HEAD
  <div class='container'>
    <%= f.label :title %><br>
=======
    

  <div>
    <%= f.label :title %>
>>>>>>> bf51b4800c40106d0a16c65ce92ca3640fcb88e5
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
    <%= f.fields_for :questions do |question_field|%>
      <%= question_field.label :questions %>
      <%= question_field.text_field '' %>
      
      <%= question_field.label :questions %>
      <%= question_field.text_field '' %>
    <% end %>
  <%= f.submit %>
<% end %>