<div class="container mt-4">
	
	<h1 class="display-4"><%= @drill.title %></h1>
  <p class="lead"><%= @drill.description %></p>
	<% if current_user.admin %>
  <a class="btn btn-primary" href="<%=new_drill_question_path(@drill)%>" role="button">Add Questions</a>
	<% end %>
	<hr class="my-4">
	<%=form_tag drill_transcripts_path(@drill), :method => :post do %>
		<% @questions.each_with_index  do |q, index|%>
			<div class="form-group">
				<div class="mb-3">
				<p class="lead" style="font-size:0.9rem"><%= index + 1  %>. <%= q.body  %></p>
				</div>
				<% q.options.each_with_index do |option, i| %>
					<div class="custom-control custom-radio">
						<input type="radio" id="<%= q.body %>-<%=option%>" name="<%= index %>" class="custom-control-input" value="<%=i%>">
						<label class="custom-control-label" for="<%= q.body %>-<%=option%>"><%=option%></label>
					</div>
				<% end %>
			<div>
			<% if current_user.admin %>
				<a class="btn btn-info mt-4 mr-2" href="<%=edit_question_path(q) %>" role="button">Edit</a>
				 <%= link_to(
						'Delete',
						question_path(q),
						method: :delete,
						data:{
						confirm: 'Do you wanna delete this question?'
						},
						class: "btn btn-danger mt-4"
						)
					%>
			<% end %>
			<hr class="my-4">
		<% end %>
		
		<button type="submit" class="btn btn-primary">Submit</button>
	<% end %>
</div>